.centered{
    text-align: center !important;
}

Button{
    cursor: pointer;
}

img:hover{
    cursor: pointer;
}

.boxQuantidade{
    padding-top: 16% !important;
}

.noPadding{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
