.centered{
    text-align: center !important;
}

Button{
    cursor: pointer;
}

img:hover{
    cursor: pointer;
}

.boxQuantidade{
    padding-top: 14% !important;
    padding-bottom: 10px !important;
}

.noPadding{
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-top: 4px !important;
}

.displayRow{
    display: flex;
}

.displayColumn{
    display: block;
}

.displaySubtotal{
    padding-top: 3% !important;
}
