.user-login__form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.loginButton{
    text-align: center;
}

.fazerCadastro {
    color: rgb(74, 74, 255);
    text-align: center;
}

.fazerCadastro:hover{
    color: green;
    cursor: pointer;
}
