.user-login__form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.user-login_button{
    text-align: center;
}

.centralize {
    text-align: center;
}

p{
    color: rgb(74, 74, 255);
}

p:hover{
    color: green;
    cursor: pointer;
}
