.buttonsDisplay1{
    margin-top: 3% !important;
    margin-bottom: 5% !important;
    width: 70% !important;
    /* margin-left: 20px !important; */
    height: 35%;
}

.buttonsDisplay2{
    margin-bottom: 3% !important;
    width: 70% !important;
    height: 35%;
}
